extends ../layout

block content
  h2.h2.text-center Your are now editing

  form.form-hortizontal(method='post', action=(book ? `/books/${bookInfo}/edit` : '/books'))
    .form-group
      input.form-control(type='text', name=`id`, placeholder='Id', value=`${book.id || ''}`)
    .form-group
      input.form-control(type='text', name=`title`, placeholder='Title', value=`${book.title || ''}`)

    .form-group
      input.form-control(type='text', name='author', placeholder='Author', value = `${book.authors || ''}`)

    .form-group
      input.form-control(type='text', name='genre', placeholder='Genre', value = `${book.genres || ''}`)

    .form-group
      input.form-control(type='text', name='description', placeholder='Description', value= `${book.description || ''}`)

    .form-group
      input.form-control(type='text', name='image', placeholder='Image URL', value=`${book.image_url || ''}`)

    .form-group
      button.btn.btn-success(type='submit') Update
