extends ../layout

block content
  div.contentMargins
    h2.h2.text-center Your are now editing

<<<<<<< Updated upstream
  form.form-hortizontal(method='post', action=(book.id ? '/books/'+book.id : '/books'))
    .form-group
      input.form-control(type='text', name='book[title]', placeholder='Title', value=`${book.title || ''}`)

    .form-group
      input.form-control(type='text', name='book[author]', placeholder='Author')

    .form-group
      textarea.form-control(name='book[description]', placeholder='Description')= book.description

    .form-group
      input.form-control(type='text', name='book[image]', placeholder='Image URL', value=`${book.image || ''}`)

    .form-group
      button.btn.btn-success(type='submit') Add This Book
=======
    form.formHorizontalNew.form-hortizontal(method='post', action=(bookId ? '/books/'+bookId : '/books'))
      .form-group
        input.form-control(type='text', name='bookId[title]', placeholder='Title', value=`${bookId || ''}`)

      .form-group
        input.form-control(type='text', name='book[author]', placeholder='Author')

      .form-group
        textarea.form-control(name='bookId[description]', placeholder='Description', value= `${bookId || ''}`)

      .form-group
        input.form-control(type='text', name='bookId[image]', placeholder='Image URL', value=`${bookId || ''}`)

      .form-group
        button.btn.btn-success(type='submit') Edit This Book
>>>>>>> Stashed changes
