extends ../layout

block content
  div.contentMargins
    h2.h2.text-center Your are now editing

    form.formHorizontalNew.form-hortizontal(method='post', action=(book.id ? '/books/'+book.id : '/books'))
      .form-group
        input.form-control(type='text', name='bookId[title]', placeholder='Title', value=`${book.title || ''}`)

      .form-group
        input.form-control(type='text', name='book[author]', placeholder='Author', value= `${book.authors || ''}`)

      .form-group
        input.form-control(type='text', name='book[genre]', placeholder='Genre', value= `${book.genres || ''}`)

      .form-group
        textarea.form-control(name='bookId[description]', placeholder='Description', value= `${book.description || ''}`)

      .form-group
        input.form-control(type='text', name='bookId[image]', placeholder='Image URL', value=`${book.image_url || ''}`)

      .form-group
        button.btn.btn-success(type='submit') Add This Book
