extends layout

block content

    h1.booksPageHeading Book List

    table.table-striped
      thead.h2
        tr
          th Book-Cover
          th Title
          th Author
          th Genre


      tbody
        for book in books

          div.container
            div.row
              div.col-sm-2
                img(src=book.image_url)
              div.h4.col-sm-2
                a(href="books/"+book.id)=book.title
                br
                br
                for author in book.authors
                  li.list-unstyled=author.name
                for genre in book.genres
                  br
                  br
                  li.list-unstyled=genre.name
              div.col-sm-8
                p= book.description
 

    div.pager
      if page > 1
        a.btn.btn-default(href=`?page=${page - 1}`) &laquo; Previous
      a.btn.btn-default(href=`?page=${page + 1}`) Next &raquo;
