extends layout

block content

    h1.booksPageHeading Book List

    table.table-striped
      div.container
        div.row
          div.col-sm-2.h4 Book-Cover
          div.col-sm-3.h4 Title
          div.col-sm-3.h4 Author
          div.col-sm-4.h4 Genre


      tbody
        for book in books


          tr
            td
              img(src=book.image_url)
            td.h4
              a(href="books/"+book.id)=book.title
            td
              for author in book.authors
                li.list-unstyled=author.name
            td
              for genre in book.genres
                li.list-unstyled=genre.name




          div.container
            div.row
              div.col-sm-2
                img(src=book.image_url)
              div.h4.col-sm-3
                a(href="books/"+book.id)=book.title
              div.col-sm-3
                for author in book.authors
                  li.list-unstyled=author.name
              div.col-sm-4
                for genre in book.genres
                  li.list-unstyled=genre.name






    div.pager
      if page > 1
        a.btn.btn-default(href=`?page=${page - 1}`) &laquo; Previous
      a.btn.btn-default(href=`?page=${page + 1}`) Next &raquo;
