extends layout

block content
  h1.h1.text-center= bookInfo.book.title

  img.img-rounded(src=bookInfo.book.image_url)

  h3.h3 Description
  p.lead= bookInfo.book.description

  h3.h3 Authors
  ul.list-unstyled
    for author in bookInfo.authors
      li.list-unstyled= author.name

  h3.h3 Genres
  ul.list-unstyled
    for genre in bookInfo.genres
      li.list-unstyled= genre.name
  span
    a.btn.btn-default(href=`/books/${bookInfo.book.id}/delete`) Delete This Book
  span
    a.btn.btn-default(href=`/books/${bookInfo.book.id}/edit`) Edit This Book
